# Backend API URL
VITE_API_URL=https://social-media-app-backend-tan.vercel.app/api

# Public Assets Path
VITE_PUBLIC_FOLDER=/assets/

# WebSocket Server URL (Optional)
VITE_SOCKET_URL=https://social-media-app-backend-tan.vercel.app
